
.ant-menu-horizontal > .ant-menu-item > a {
    display: block;
    color: #eee;
}

ul#nav li {
    line-height: 60px;
    height: 60px;
    padding: 0 !important;
    border: 0;
    color: #eee;
}

/* 二维码登录显示框 */
.ant-modal-content {
    text-align: center;
}



